@use '@angular/material' as mat;

.app-toolbar {
	position: sticky;
	top: 0;
	z-index: 100;
}

.spacer { flex: 1 1 auto; }

.app-main {
	padding: 1rem 1.25rem;
	max-width: 1400px;
	margin: 0 auto;
}

button[mat-button] {
	font-weight: 500;
}

button[mat-button].active {
	background-color: mat.get-color-from-palette(mat.$indigo-palette, 100);
	color: mat.get-color-from-palette(mat.$indigo-palette, 900);
}
