<section class="header">
  <h2>Variant Feature Mapping</h2>
  <span class="spacer"></span>
  <ng-container *ngIf="variants$ | async as variants; else noVariants">
    <ng-container *ngIf="features$ | async as features">
      <button mat-flat-button color="primary" (click)="openCreate(variants, features)">Add Mapping</button>
    </ng-container>
  </ng-container>
  <ng-template #noVariants></ng-template>
</section>

<table mat-table [dataSource]="(items$ | async) ?? []" class="mat-elevation-z1">
  <ng-container matColumnDef="make">
    <th mat-header-cell *matHeaderCellDef>Make</th>
    <td mat-cell *matCellDef="let it">{{ getMakeName(it.variantId) }}</td>
  </ng-container>
  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef>Model</th>
    <td mat-cell *matCellDef="let it">{{ getModelName(it.variantId) }}</td>
  </ng-container>
  <ng-container matColumnDef="variant">
    <th mat-header-cell *matHeaderCellDef>Variant</th>
    <td mat-cell *matCellDef="let it">{{ lookupVariantName(it.variantId, (variants$ | async) ?? []) }}</td>
  </ng-container>
  <ng-container matColumnDef="feature">
    <th mat-header-cell *matHeaderCellDef>Feature</th>
    <td mat-cell *matCellDef="let it">{{ lookupFeatureName(it.featureId, (features$ | async) ?? []) }}</td>
  </ng-container>
  <ng-container matColumnDef="isStandard">
    <th mat-header-cell *matHeaderCellDef>Standard</th>
    <td mat-cell *matCellDef="let it">{{ it.isStandard ? 'Yes' : 'Optional' }}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let it">
      <ng-container *ngIf="variants$ | async as variants">
        <ng-container *ngIf="features$ | async as features">
          <button mat-icon-button color="primary" (click)="openEdit(it, variants, features)"><mat-icon>edit</mat-icon></button>
        </ng-container>
      </ng-container>
      <button mat-icon-button color="warn" (click)="remove(it)"><mat-icon>delete</mat-icon></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
