<nav class="top-nav">
  <div class="brand">
    <a class="logo" routerLink="/">TopWheels</a>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/find-cars">Search cars</a></li>
    <li><a href="#">Sell/Trade In</a></li>
    <li><a href="#">Car Finance</a></li>
    <li><a href="#">Car care</a></li>
    <li><a href="#">Why Big?</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">Support</a></li>
    <li><a href="#">Locations</a></li>
  </ul>
  <div class="auth-links">
    <a href="#" class="login">Login</a> /
    <a href="#" class="register">Register</a>
  </div>
</nav>
